<form action="<?=$this->url(['action'=>'search'])?>" method="get" class="ui form">
	<input type="hidden" name="action" value="search">
	<input type="hidden" name="go" value="<?=$this->getController()?>">
	<div class="ui grid">
		<div class="row">
			<div class="three wide column">
				<label>Membro:</label>
				<div class="field">
					<div class="input left icon">
						<select name="membro" class="ui  dropdown">
							<option value="todos">Todos</option>
						</select>
					</div>
				</div>
			</div>
			<div class="three wide column">
			<label for="">Anivesariante do Mês:</label>
				<div class="field">
					<select name="anivesariante" class="ui dropdown">
						<option value="">Selecione ...</option>
						<?php foreach($this->meses as $key=>$value):?>
							<?php $sel = ($this->mes == ++$key) ? "selected" :"";?>
						<option value="<?=$key?>" <?=$sel?> ><?=$value?></option>
						<?php endforeach;?>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="sixteen wide column">
				<div class="field">
					<button type="submit" class="ui button purple icon position-right">
						<i class="icon search"></i> Pesquisa
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


