<?php include('index.phtml');?>
<br>
<div class="row">
    <div class="ui sixteen wide column">
        <a href="<?=$this->url(['action'=>'export'])?>" class=' ui button'>
        	<i class="icon file excel outline"></i>	Exportar
        </a>
    </div>
</div>
<table class="ui compact table celled">
	<thead>
		<tr>
			<th></th>
			<th>Nome</th>
			<th class="center aligned">Data Nascimento</th>
			<th class="center aligned">Telefone</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach($this->sql as $i=>$value):?>
		<tr>
			<td style="width:30px;"><span class="ui ribbon label"><?=++$i?></span></td>
			<td><?=$value['nome']?></td>
			<td class="center aligned"><?=implode("/",array_reverse(explode("-",$value['data_nascimento'])))?></td>
			<td class="center aligned"><?=$value['telefone']?></td>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>