@import  url("semantic.min.css");
@import  url("sweetalert.min.css");

*{
	padding: 0;
	margin: 0;
	outline: none !important;
	border-radius: 0 !important;
}

.color{color: #fff;}
.position-right{float: right;}

main{
	padding:0 20px 0 20px;
}

.ui.table tbody tr:nth-child(odd) {
   background-color: #ececec;
}

/*tela de login*/
.form-signin{
	width: 350px;
	height: 200px;
	position: relative;
	margin:0 auto;
	top:8em;
}

.form-signin form{
	padding: 35px;
}

.form-signin form input {
	height: 45px !important;
}
.form-signin button {
	height: 45px !important;
}


/*tela da home*/
.hours{bottom:3em;position:absolute;right:2px;font-size: 10px;}
.block{
	width: 100%;
	height: 100px;
	position: relative;
}

.block-icon{
	position: absolute;
	width: 40%;
	min-height: 100%;
	background: #DDDDDD;
}

.block-content{
	position: absolute;
	width: 60%;
	min-height: 100%;
	right: 0;
}
.count-block{
	color:#fff;
	text-align: center;
	position: relative;
	top:0.8em;
}
.title-block{
	color: #fff;
	font-weight: 700;
	text-align: center;
	position:relative;
	bottom: 0.3em;
}
.block-access{
	position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.1);
    bottom: 0px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-style: oblique;
}

/* color */
	.color-blue {	background-color:#4facff;}
	.color-red {background-color: #ff0000;}
	.color-green{background: green;}
/* closed color */


.ui-datepicker .ui-datepicker-header{
	background: #a333c8 !important;
	color: #fff;
}

.ui-datepicker-next-hover,.ui-datepicker-prev-hover{
	background: #791F96 !important;
	border:1px solid #791F96 !important;
	color:#fff !important;
	cursor: pointer;
}

.ui-state-highlight{
	background: #a333c8 !important;
	color: #fff !important;	
	border:1px solid #a333c8 !important;
}

.check-table{
	padding: 5px 5px 6px 7px !important;
    position: relative;
    left: -2px !important;
}

.check-table>.ui.checkbox{
	position: relative;
	top: 3px;
}