<?php 

	if($_SESSION['user']){
		$this->name = $_SESSION['user'];
		
		if($_SESSION['tipo'] == "admin"){
			$admin = $_SESSION['id_admin'];
		}
	}else{
		$this->redirect($this->url(	array("controller"=>"Index","action"=>'index',"access"=>"block")));
	}

?>
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title><?=$this->title?></title>
	<meta charset="UTF-8">
	<meta name="author" content="Michael Batista">
	<meta name="description" content="sistema de frequência de ensaio de senhoras de determinada igreja">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="Igreja,Sistema de Frenquência,Ensaio,Senhoras">
	<!-- file css -->
	<link rel="stylesheet" type="text/css" href="/css/all.css?mb=<?=rand(0,10898989)?>">
	<link rel="stylesheet" type="text/css" href="/css/alertify.min.css">
	<link rel="stylesheet" type="text/css" href="/css/c3.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
	<!-- file jquery -->
	<script type="text/javascript" src="/src/jquery.js"></script>
	<script type="text/javascript" src="/src/jquery-ui.js"></script>
	<script type="text/javascript" src="/src/semantic.min.js"></script>
</head>
<body>
	<nav class="ui black inverted menu">
		<a href="<?=(empty($admin)) ? $this->url(['controller'=>'home','action'=>'index']) : "";?>" class="active item">	
			ACP -  Dashboard
		</a>
		<!-- <a href="" class="item">
			<i class="icon dashboard"></i> Dashboard
		</a> -->
		<?php if(empty($admin)):?>
			<div class="ui dropdown item">
				<i class="icon plus circle"></i> Cadastro <i class="dropdown icon"></i>
				<div class="menu">
					<a href="<?=$this->url(['controller'=>'Senhoras','action'=>'index'])?>" class="item">
						<i class="icon female"></i> Senhoras
					</a>
					<a href="<?=$this->url(['controller'=>'Eventos','action'=>'index'])?>" class="item">
						<i class="icon calendar"></i> Eventos
					</a>
				</div>
			</div>
			<a href="<?=$this->url(["controller"=>"Chamada","action"=>"index"])?>" class="item">
				<i class="icon list"></i> Chamada
			</a>
			<div class="ui dropdown item">
				<i class="icon file"></i> Relatório <i class="dropdown icon"></i>
				<div class="menu">
					<a href="<?=$this->url(['controller'=>'Relatorio','action'=>'index'])?>" class="item">
						<i class="icon list"></i> Chamada
					</a>
					<a href="<?=$this->url(['controller'=>'Membros','action'=>'index'])?>" class="item">
						<i class="icon users"></i> Membros
					</a>
				</div>
			</div>
		<?php endif;?>
		<div class="ui dropdown item right">
			<i class="icon user circle"></i> <?=ucwords($this->name)?> <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item"><i class="icon pencil"></i> Perfil</a>
				<a href="<?=$this->url(['controller'=>'index','action'=>'logout'])?>" class="item">
					<i class="icon power"></i> Sair
				</a>
			</div>
		</div>
	</nav>

	<main>
		<div class="ui segments">
			<div class="ui inverted segment purple">
				<b>
					<i class="<?=$this->icon?>"></i> <?=$this->painel?>
				</b>
			</div>
			<div class="ui  segment">
				<?=$this->content();?>
			</div>
		</div>
	</main>
	<!-- file semantic -->
	<script type="text/javascript" src="/src/sweetalert.min.js"></script>
	<script type="text/javascript" src="/src/d3.js"></script>
	<script type="text/javascript" src="/src/c3.min.js"></script>
	<script type="text/javascript" src="/src/alertify.min.js"></script>
	<script type="text/javascript" src="/src/mask.js"></script>
	<script type="text/javascript" src="/src/color.js"></script>
	<script type="text/javascript" src="/src/all.js?mb=<?=rand(0,4593745934)?>"></script>
</body>
</html>