<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title><?=$this->title?></title>
	<meta charset="UTF-8">
	<meta name="author" content="Michael Batista">
	<!-- file css -->
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	<!-- file jquery -->
	<script type='text/javascript' src='/src/jquery.js'></script>
	<script type='text/javascript' src='/src/semantic.min.js'></script>
</head>
<body>
	<section class="form-signin">
		<div class="ui segment">
			<form action="<?=$this->url(['action'=>'signin'])?>" method="post" class="ui form">
				<center>
					<i class="circular 	user icon  big" style="font-size:3em;"></i>
				</center>
				<br>
				<div class="row">
					<div class="field">
						<div class="ui input left icon">
							<i class="icon user"></i>
							<input type="text" name="user" placeholder="Usuário:">
						</div>
					</div>
					<div class="field">
						<div class="ui input left icon">
							<i class="icon lock"></i>
							<input type="password" name="password" placeholder="Senha:">
						</div>
					</div>
					<div class="field">
						<button type="submit" class="ui button purple fluid">Entrar</button>
					</div>
				</div>
				<?php if($this->_GET("access") == "error"): ?>
					<div class="ui segment inverted red">
						<b style="font-style:oblique;">Usuário ou Senha incorreta !</b>
					</div>
				<?php endif;?>	
				<?php if($this->_GET("access") == "blocked"): ?>
					<div class="ui segment inverted orange">
						<b style="font-style:oblique;">Você precisa fazer login !</b>
					</div>
				<?php endif;?>
			</form>
		</div>
	</section>
	<!-- file all -->
	<script type="text/javascript" src="/src/all.js"></script>
	<script>
		$(function(){
			$(".ui.form").form({
				inline:true,
				fields:{
					user:{
						indentifier:"user",
						rules:[{
							type:"empty",
							prompt:"Usuário obrigatório"
						}]
					},
					password:{
						indentifier:"password",
						rules:[{
							type:"empty",
							prompt:"Senha obrigatório"
						}]
					}
				}
			})
		});
	</script>
</body>
</html>