<style>
	.list{
		float: right;
	}
	.list>ul{
		list-style: none;
	}
	.list>ul>li{
		display: inline;
		padding: 3px;
	}
</style>

<form action="<?=$this->url(["action"=>"realizar_chamada"])?>" method="post">
	<div class="row">
		<div class="ui grid">
			<div class="four wide column">
				<div class="ui input left icon">
					<i class="icon calendar"></i>
					<input type="text" name="data" value="<?=date('d/m/Y')?>" disabled="true">
					<input type="hidden" name="data" value="<?=date('d/m/Y')?>">
				</div>
			</div>
		</div>
	</div>
	<span class="list">
		<ul>
			<li style="color:red;" title="Limite de falta que uma irmã tem que ter !">
				Limite de Faltas : 4
			</li>
			<li style="color:green;" title="Quantidade de falta que precisa para ganhar o prêmio !">
				Ganhar Prêmio : 0
			</li>
		</ul>
	</span>
	<table class="ui compact table celled">
		<thead>
			<tr>
				<th style="width:30px;"></th>
				<th>Nome</th>
				<th class="two wide column center aligned">Data Nascimento</th>
				<th class=" two wide column center aligned">Total de Presença</th>
				<th class=" two wide column center aligned">Total de Falta</th>
				<th class="three wide column center aligned">Presença / Falta</th>
			</tr>
		</thead>
		<tbody>
			<?php 
				$icon = "";
				$count = 0;
				
				foreach($this->Senhora->fetch("id_user=".$this->id_user) as $i=>$value):
					$data_atual = date("m");
					$data = date("m",strtotime($value['data_nascimento']));
					$id_senhora = $value['id_senhora'];
					$falta = 0;
					$presenca = 0;
					$query = $this->_pdo->query("SELECT  status, count(status) qtd from chamada where id_senhora='{$id_senhora}' group by status");
					// verifica a quantidade de presenca | falta
					while($consulta = $query->fetch(PDO::FETCH_ASSOC)){
						if($consulta['status'] == 0){
							$falta = $consulta['qtd'];
						}else{
							$presenca = $consulta['qtd'];
						}
					}

					
					// anivesariante do mes
					if($data == $data_atual)
						$info = "<i class='icon birthday' title='Anivesariante do mês'></i>";
					else
						$info = "";			
					
					// icone de premio ou alert de
					if($falta == 0){
						$icon = "<i class='icon gift' data-content='presente em todos os ensaios' data-variation='inverted' data-position='top center'></i>";
					}else if($falta >= 4 ){
						$icon = "<i class='icon info cirle' data-content='se informar por que tanta falta'></i>";
					}else{
						$icon = ++$i;
					}

				
			?>
				<tr>
					<td>
						<span class="ui ribbon label">
							<?=$icon?>
						</span>
					</td>
					<td><?=ucwords($value['nome'])?> <?=$info?></td>
					<td class="center aligned"><?=date("m/m/Y",strtotime($value['data_nascimento']));?></td>
					<td class="center aligned"><?=$presenca?></td>
					<td class="center aligned"><strong style="color:red;"><?=$falta?></strong></td>
					<td class="center aligned">
						<span class="situacao">
							<i class="icon toggle on large status green" data-value="on" title="Presente" style="cursor:pointer;"></i>
							<input type="hidden" name="situacao[]" value="1">
						</span>
						<input type="hidden" name="id[]" value="<?=$value['id_senhora']?>">
					</td>
				</tr>
			<?php endforeach;?>
		</tbody>
	</table>
	<div class="row">
		<div class="sixteen wide column">
			<button type="submit" class="ui button purple position-right">Salvar</button>
		</div>
	</div>
	<br>
	<br>
</form>

<script>
	$(function(){
		$(document).on("click",".status",function(){
			var status = $(this).attr("data-value");

			if(status == "on"){
				$(this).attr("data-value","off");
				$(this).switchClass("on green","off red");
				$(this).attr("title","Falta");
				$(this).closest('.situacao').find("input[name='situacao[]']").val(0);	
			}else{
				$(this).attr("data-value","on");
				$(this).switchClass("off red","on green");
				$(this).attr("title","Presente");
				$(this).closest('.situacao').find("input[name='situacao[]']").val(1);	
			}

		});
	});
</script>
<!-- alertar ao usuario o status da realização da chamada -->
<script>
	$(function(){
		<?php if($this->_GET("state") == "error"):?>
			alertify.error("<b class='color'><i class='icon warning circle'></i> Chamada já foi realizada !<b/>");
		<?php elseif($this->_GET("state") == "success"):?>
			alertify.success("<b class='color'><i class='icon check'></i> Chamada feita com sucesso !</b>");
		<?php endif;?>		
	});
</script>	