<div class="row">
            <div class="ui grid">
                <div class="twelve wide column">
					<!-- informações de totais -->
                    <div class="row ui grid">
					
                        <div class="six wide column">
                            <div class="block">
                                <div class="block-icon">
                                    <center>
                                        <i class="icon female huge color" style="position:relative;top:0.4em;"></i>
                                    </center>
                                </div>
                                <div class="block-content color-blue">
                                    <h2 class="count-block"><?=$this->count?></h2>
                                    <h3 class="title-block">Total de Senhoras</h3>
                                    <a href="<?=$this->url(['controller'=>'Senhoras','action'=>'index'])?>" class="block-access">Acessar <i class="icon share"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <div class="block">
                                <div class="block-icon">
                                    <center>
                                        <i class="icon calendar huge color" style="position:relative;top:0.4em;"></i>
                                    </center>
                                </div>
                                <div class="block-content color-green">
                                    <h2 class="count-block"><?=$this->count_event?></h2>
                                    <h3 class="title-block">Eventos</h3>
                                    <a href="<?=$this->url(["controller"=>"Eventos","action"=>"index"])?>" class="block-access">Acessar <i class="icon share"></i></a>
                                </div>
                            </div>
                        </div>
						<div class="five wide column">
                            <div class="block">
                                <div class="block-icon">
                                    <center>
                                        <i class="icon file huge color" style="position:relative;top:0.4em;"></i>
                                    </center>
                                </div>
                                <div class="block-content color-red">
                                    <h2 class="count-block"></h2>
                                    <h3 class="title-block">Relatório</h3>
                                    <a href="<?=$this->url(['controller'=>'Senhoras','action'=>'index'])?>" class="block-access">Acessar <i class="icon share"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
					<!-- graficos -->
					<div class="row ui grid">
						<div class="eight wide column">
							<div class="ui  segments">
								<div class="ui inverted purple segment">
									<b><i class="icon bar chart"></i> Gráfico de Presença</b>
								</div>
								<div class="ui  segment">
									<div id="chart"></div>
								</div>
							</div>
						</div>
						<div class="eight wide column">
							<div class="ui segments">
								<div class="ui inverted purple segment">
									<b><i class='icon bar chart'></i> Gráfico de Falta</b>
								</div>
								<div class="ui segment">
									<div id="charts"></div>
								</div>
							</div>
						</div>		
					</div>
                </div>

                <div class="four wide column">
				<div class="ui segments">
						<div class="ui inverted purple segment">
							<b><i class='icon announcement'></i> Quadro  de Aviso</b>
						</div>
						<div class="ui segment">
							<div class="ui styled accordion">
								<div class="active title">
									<i class="dropdown icon"></i>
									Adicionar Aviso
								</div>
								<div class="content">
									<div class="ui form">
										<div class="field">
											<label>Data:</label>
											<input type="text" name='data' class="data">
										</div>
										<div class="field">
											<label>Aviso</label>
											<textarea name='aviso' rows="2" placeholder="Informe seu aviso"></textarea>
										</div>
										<div class="field">
											<button type="button" class="ui button position-right add_aviso">Adicionar</button>
										</div>
										<br />
										<br />
									</div>
								</div>
							</div>
							<fieldset>
								<legend><i class='icon announcement'></i> Avisos</legend>
								<div class="quadro" style="height:370px;overflow-y:scroll;padding:0px 7px 2px 0px;">
									<?php foreach($this->Aviso->fetch("id_user=$this->id_user") as $value): ?>
                                        <div class="ui segment red">
                                            <?=$value['aviso']?>
                                            <span class="hours"><?=date("d/m/Y",strtotime($value['data']))?></span>
                                            <button data-id="<?=base64_encode($value['id_aviso'])?>" class="ui button red mini icon position-right del_aviso" style="padding:4px;position:relative;top:4px;">
                                                <i class="icon trash"></i>
                                            </button>
                                        </div>
                                    <?php endforeach;?>
								</div>
							</fieldset>
					 	</div>
				    </div>
				</div>
            </div>
        </div>        
    </div>
    <br>
    <br>

    <?php 
    $ArrayPresenca = [];
    $ArrayFalta = [];
    
    foreach($this->Senhora->fetch() as $value){
        $nome = $value['nome'];
        $id_senhora = $value['id_senhora'];
        $query = $this->_pdo->query("SELECT  status, count(status) qtd from chamada where id_senhora='{$id_senhora}' group by status");
        $falta = 0 ;
        $presenca = 0; 
            // verifica a quantidade de presenca | falta
        $consulta = $query->fetchAll(PDO::FETCH_ASSOC);
        
        foreach($consulta as $data){
            $status = $data['status'];
            if($status == 0){
                $falta = $data['qtd'];
            }else{
                $presenca = $data['qtd'];
            }   
        }
        array_push($ArrayPresenca , [$nome , $presenca]);
        array_push($ArrayFalta ,[$nome,$falta]);

        
    }

    ?>

    <script>
        $(function(){

            $(document).on("click",".add_aviso",function(){
                var date = $("input[name='data']").val();
                var aviso = $("textarea[name='aviso']").val();
                var data = {"data":date,"aviso":aviso};

                // resetando o campo
                $("input[name='data']").val("");
                $("textarea[name='aviso']").val("");

                $.post("<?=$this->url(['action'=>'Cadastro_Aviso'])?>",data,function(res){
                    valor = jQuery.parseJSON(res);
                    var id = valor.id;
                    if(valor.check == "success"){
                        alertify.success("<b class='color'><i class='icon check'></i> Aviso cadastrado !</b>");
                    }

                    var segment = "<div class='ui segment red'>"+aviso+" <span class='hours'>"+date+"</span><button class='ui button red mini icon position-right del_aviso' data-id='"+id+"' style='padding:4px;position:relative;top:4px;'><i class='icon trash'></i></button></div>";
                    $('.quadro').append(segment);
                    $(".ui.checkbox").checkbox();
                });
            });

            $(document).on("click",".del_aviso",function(){
                var self = $(this);
                var id = self.attr("data-id");
                $.post("<?=$this->url(['action'=>'removeAviso'])?>",{id:id},function(data){
                    
                    if(data == "success"){
                          alertify.success("<b class='color'><i class='icon check'></i> Removido com sucesso !</b>");
                          self.closest(".ui.segment").remove();
                    }else{
                          alertify.error("<b class='color'><i class='icon check'></i> Error ao remover!</b>");
                    }
                })
            });

            var graficoPresenca = <?=json_encode($ArrayPresenca)?>;
            var graficoFalta = <?=json_encode($ArrayFalta)?>;
            
            if(graficoPresenca.lenght > 0 ){
                // grafico de presença
                var chart = c3.generate({
                    bindto:"#chart",
                    color:{
                        pattern:MB_color
                    },
                    data: {
                        columns:graficoPresenca,
                        type:"pie",
                    }
                });
            }else{
                $("#chart").append("<div class='ui segment inverted red'><i class='icon info circle'></i> Sem Informação</div>");
            }

            if(graficoFalta > 0){
                // grafico de falta
                var charts = c3.generate({
                    bindto:"#charts",
                    color:{
                        pattern:MB_color
                    },
                    data:{
                        columns:graficoFalta,
                        type:"donut"
                    }
                });
            }else{
                $("#charts").append("<div class='ui segment inverted red'><i class='icon info circle'></i> Sem Informação</div>");
            }
            
            if(graficoFalta > 0 || graficoPresenca > 0){
                setTimeout(function() {
                    chart.transform("pie");
                    charts.transform("bar");
                }, 3000);

                setTimeout(function() {
                    chart.transform("donut");
                    charts.transform("bar");
                }, 6000);
            }

        });
    </script>