<?php if($this->_GET("edit") == "ok"): ?>
	
	<form action="<?=$this->url(['action'=>'register'])?>" method="post" class="ui form">
		<input type="hidden" name="id_senhora" value="<?=$this->id?>">
		<div class="ui grid">
			<div class="row clone">
				<div class="five wide column">
					<div class="field">
						<label>Nome:</label>
						<div class="ui input left icon">
							<i class="icon user"></i>
							<input type="text" name="nome[]" required="" value="<?=$this->nome?>" placeholder="Nome">
						</div>
					</div>
				</div>
				<div class="three wide column">
					<div class="field">
						<label>Data Nascimento:</label>
						<div class="ui input left icon">
							<i class="icon calendar"></i>
							<input type="text" class="date-mask" required="" value="<?=$this->data?>" name="data_nascimento[]">
						</div>
					</div>
				</div>
				<div class="three wide column">
					<div class="field">
						<label>Telefone:</label>
						<div class="ui input left icon">
							<i class="icon phone"></i>
							<input type="text" class="phone" required="" value="<?=$this->phone?>" name="telefone[]" placeholder="Telefone ou Celular">
						</div>
					</div>
				</div>
				<?php if($this->_GET("id") == false): ?>
					<div class="two wide column">
						<button type="button" class="ui button icon green  add_senhora" style="position:relative;top:1.8em;">
							<i class="icon plus circle"></i>
						</button>
					</div>
				<?php endif;?>
			</div>

			<div class="sixteen wide column  register_clone">

			</div>

			<div class="row">
				<div class="sixteen wide column">
					<button type="submit" class="ui button right floated purple" style="height:36px !important;">Salvar</button>
					<a href="<?=$this->url(['action'=>'index'])?>" class="ui button right floated ">Voltar</a>
				</div>
			</div>
		</div>
	</form>

<?php else: ?>

	<div class="ui grid">
		<div class="sixteen wide column">
			<!-- botão de adicionar -->
			<a href="<?=$this->url(['active'=>'index','edit'=>'ok'])?>" class="ui button  green icon right labeled position-right">
				<i class="icon plus"></i> Adicionar
			</a>
			<!-- Selecionar -->
			<div class="ui floating labeled icon dropdown button right floated" tabindex="0" style="position:relative;right:0.5em;">
				<i class="checkmark box icon"></i>
				<span class="text">Selecionar <i class="icon caret down"></i></span>
				<div class="menu" tabindex="-1">
					<div class="item" data-toggle="check_all">
						<i class="icon check square"></i> Selecionar Todos
					</div>
					<div class="item" data-toggle="uncheck">
						<i class="icon square outline "></i> Desmarcar Todos
					</div>
					<div class="item" data-toggle="del_check">
						<i class="icon remove circle"></i> Excluir Todos
					</div>
				</div>
			</div>			
		</div>
	</div>
	
	<table class="ui table celled compact">
		<thead>
			<tr>
				<th colspan="5" class="center aligned"><i class="icon info circle"></i> Informações das Senhoras</th>
			</tr>
			<tr>
				<th></th>
				<th>Nome</th>
				<th class="center aligned">Data de Nascimento</th>
				<th class="center aligned">Contato</th>
				<th class="center aligned">Ações</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($this->sql as $key=>$value): ?>
				<tr>
					<td style="width:30px;"><span class="ui ribbon label"><?=++$key?></span></td>
					<td class="center aligned"><?=ucwords($value['nome'])?></td>
					<td class="center aligned"><?=implode("/",array_reverse(explode("-",$value['data_nascimento'])))?></td>
					<td class="center aligned"><?=$value['telefone']?></td>
					<td class="center aligned">
						<a href="<?=$this->url(['active'=>"index","edit"=>'ok',"id"=>base64_encode($value['id_senhora'])])?>" class="ui button green icon mini">
							<i class="icon edit"></i>
						</a>
						<span class="ui segment inverted blue check-table">
							<div class="ui checkbox fitted">
								<input type="checkbox" name="id" value="<?=base64_encode($value['id_senhora'])?>">
								<label></label>
							</div>
						</span>
						
						<a data-id="<?=base64_encode($value['id_senhora'])?>" href="<?=$this->url(["action"=>"delete"])?>" class="ui button red icon mini delete_confirm">
							<i class="icon trash"></i>
						</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	<br>
	<center>
		<?=$this->html?>		
	</center>
	<br>
	<br>
	
<?php endif; ?>

<script type="text/javascript">
	$(function(){
		// adiciona campo
		$(document).on("click",".add_senhora",function(){
			var clone = $(this).closest(".clone").clone();
			clone.addClass("ui grid");
			clone.find("input").val("");
			clone.find(".add_senhora").switchClass("add_senhora green","remove_senhora red").find("i").switchClass("plus circle","trash");
			$(".register_clone").append(clone);
		});

		// remove campo
		$(document).on("click",".remove_senhora",function(){
			$(this).closest(".clone").remove();
		});
	});
</script>
