    <?php if($this->_GET("edit") == "ok"):?>
    <form action="<?=$this->url(["action"=>"cadastro"])?>" class="ui form" method="post">
        <input type="hidden" name="id" value="<?=$this->_GET("id")?>">
        <div class="ui grid">
            <div class="row">
                <div class="five wide column">
                    <label>Evento:</label>
                    <div class="field">
                        <div class="ui input left icon">
                            <i class="icon calendar"></i>
                            <input type="text" name="evento" value="<?=$this->evento?>" placeholder="Evento">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <label>Data do Evento:</label>
                    <div class="field">
                        <div class="ui input left icon">
                            <i class="icon calendar"></i>
                            <input name="data" placeholder="Data do Evento" value="<?=$this->data?>" class="data" />
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <label>Local do Evento:</label>
                    <div class="field">
                        <div class="ui input left icon">
                            <i class="icon marker"></i>
                            <input name="local" placeholder="Local do Evento"  value="<?=$this->local?>" />
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <label>Descrição:</label>
                    <div class="field">
                        <div class="ui input left icon">
                            <i class="icon sort alphabet ascending"></i>
                            <input name="descricao" value="<?=$this->descricao?>" placeholder="Descrição" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <button type="submit" class="ui button purple position-right">Salvar</button>
                    <a href="<?=$this->url(["action"=>"index"])?>" class="ui button position-right">Voltar</a>
                </div>
            </div>
        </div>
    </form>
    <?php else:?>
    <div class="row">
            <div class="ui grid">
                <div class="sixteen wide column">
                    
                    <a href="<?=$this->url(["action"=>"index","edit"=>"ok"])?>" class="ui button icon right labeled green position-right"><i class="icon plus"></i> Adicionar</a>
                
                    <div class="ui floating labeled icon dropdown button right floated" tabindex="0" style="position:relative;right:0.5em;">
                        <i class="checkmark box icon"></i>
                        <span class="text">Selecionar <i class="icon caret down"></i></span>
                        <div class="menu" tabindex="-1">
                            <div class="item" data-toggle="check_all">
                                <i class="icon check square"></i> Selecionar Todos
                            </div>
                            <div class="item" data-toggle="uncheck">
                                <i class="icon square outline "></i> Desmarcar Todos
                            </div>
                            <div class="item" data-toggle="del_check">
                                <i class="icon remove circle"></i> Excluir Todos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="ui table celled compact">
            <thead>
                <tr>
                    <th class="center aligned" colspan="6"><i class="icon info circle"></i> Informação do Evento</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Evento</th>
                    <th class="center aligned" title="Data do Evento">Data</th>
                    <th class="center aligned" title="Local de Evento">Local</th>
                    <th class="center aligned" title="Descrição de Evento">Descrição</th>
                    <th class="center aligned two wide column">Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->Evento->fetch() as $i=>$value):?>
                <tr>
                    <td>
                        <span class="ui ribbon label"><?=++$i?></span>
                    </td>
                    <td><?=$value['evento']?></td>
                    <td class="center aligned"><?=date("d/m/Y",strtotime($value['data']))?></td>
                    <td class="center aligned"><?=$value['local']?></td>
                    <td class="center aligned"><?=empty($value['descricao']) ? "-" : $value['descricao']?></td>
                    <td class="center aligned">
                        <a href="<?=$this->url(["action"=>"index","edit"=>"ok","id"=>base64_encode($value['id_evento'])])?>" class="ui button icon mini green"><i class="icon pencil"></i></a>
                        <span class="ui segment inverted blue check-table">
                            <div class="ui checkbox fitted">
                                <input type="checkbox" name="id" value="<?=base64_encode($value['id_evento'])?>" autocomplete="off" tabindex="0" class="hidden">
                                <label></label>
                            </div>
                        </span>
                        <a href="<?=$this->url(["action"=>"delete","id"=>base64_encode($value['id_evento'])])?>" data-id="<?=base64_encode($value['id_evento'])?>" class="ui button icon mini red delete_confirm"><i class="icon trash"></i></a>
                    </td>
                </tr>
                <?php endforeach;?>
            </tbody>
        </table>
    <?php endif;?>

    <script type="text/javascript">
        $(function(){
            $(".ui.form").form({
                inline:true,
                fields:{
                    evento:{
                        indentifier:"evento",
                        rules:[{
                            type:"empty",
                            prompt:"Evento obrigatório"
                        }]
                    },
                    data:{
                        indentifier:"data",
                        rules:[{
                            type:"empty",
                            prompt:"Data obrigatório"
                        }]
                    },
                    local:{
                        indentifier:"local",
                        rules:[{
                            type:"empty",
                            prompt:"Local obrigatório"
                        }]
                    }
                }
            })
        });
    </script>