    <div class="row">
        <form method="get" action="<?=$this->url(['action'=>'search'])?>" class="ui form">
            <input type="hidden" name="action" value="search">
            <input type="hidden" name="go" value="<?=$this->getController()?>">
            <div class="ui grid">
            <div class="row">
                <div class="three wide column">
                    <label>Mês:</label>
                    <div class="field">
                        <div class="ui input left icon">
                            <select name="data" class="ui fluid dropdown">
                                <?php foreach($this->consulta as $value):?>
                                    <?php $sel = ($this->_GET("data") == $value) ? "selected": "";?>
                                    <option value="<?=$value['data']?>" <?=$sel?>><?=$value['data']?></option>
                                <?php endforeach?>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="three wide column">
                    <label>Membro(a)</label>
                    <div class="field">
                        <select name="membro" class="ui fluid dropdown">
                            <option value="">Todos</option>
                            <?php foreach($this->senhora as $value):?>
                                <?php $sel = ($this->_GET("membro") == $value['id_senhora']) ? "selected": "";?>
                                <option value="<?=$value['id_senhora']?>" <?=$sel?>><?=$value['nome']?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>

                <div class="three wide column">
                    <label>Tipo</label>
                    <div class="field">
                        <select name="tipo" class="ui fluid dropdown">
                            <option value="">Todos</option>
                            <?php foreach([0=>"Falta" , 1=>"Presença"] as $key=>$value):?>
                                <?php $sel = ($this->_GET("tipo") == $key) ? "selected": "";?>
                                <option value="<?=$key?>" <?=$sel?>><?=$value?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <button type="submit" class="ui button purple icon position-right"><i class="icon search"></i> Pesquisa</button>
                </div>
            </div>
            </div>
        </form>
    </div> 