
<?php include("index.phtml");?>


<table class="ui table celled compact">
    <thead>
        <tr>
            <th colspan="6" class="center aligned"> <i class="icon info circle "></i> Relatório de Chamadas</th>
        </tr>
        <tr>
            <th style="width:30px;"></th>
            <th>Data</th>
            <th class="center aligned">Membro(a)</th>
            <th class="one wide column center aligned">Status</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->result as $i=>$value):?>
        <tr>
            <td>
                <span class="ui label ribbon"><?=$i?></span>
            </td>
            <td><?=date('d/m/Y',strtotime($value['data']))?></td>
            <td class="center aligned"><?=$value['nome']?></td>
            <td class="center aligned">
                <?php if($value['status'] == 1):?>
                    <i class="icon toggle on large green" title="Presença"></i>
                <?php else:?>    
                    <i class="icon toggle off large red" title="Falta"></i>
                <?php endif;?>    
            </td>
        </tr>
        <?php endforeach;?>
    </tbody>
</table>
