<?php if($this->_GET("edit") == "ok"):?>
	<form action="<?=$this->url(['action'=>'addUsers'])?>" method="post" class="ui form">
		<input type="hidden" name="id" value="<?=$this->id?>">
		<div class="ui grid">
			<div class="row">
				<div class="four wide column">
					<div class="field">
						<div class="ui input left icon">
							<i class="icon user"></i>
							<input type="text" name="igreja" value="<?=$this->igreja?>" placeholder="Igreja">
						</div>	
					</div>
				</div>
				<div class="three wide column">
					<div class="field">
						<div class="ui input left icon">
							<i class="icon user"></i>
							<input type="text" name="user" value="<?=$this->user?>" placeholder="Usuário">
						</div>
					</div>
				</div>
				<div class="four wide column">
					<div class="field">
						<div class="ui input left icon">
							<i class="icon envelope"></i>
							<input type="email" name="email" value="<?=$this->email?>" placeholder="Email">
						</div>
					</div>
				</div>
				<div class="three wide column">
					<div class="field">
						<div class="ui input left icon">
							<i class="icon phone"></i>
							<input type="text" name="phone" class="phone" value="<?=$this->phone?>" placeholder="Telefone">
						</div>
					</div>
				</div>
				<div class="two wide column">
					<div class="field">
						<div class="ui input left icon">
							<i class="icon lock"></i>
							<input type="password" name="password" value="<?=$this->password?>" placeholder="Senha">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="sixteen wide column">
					<button type="submit" class="ui button purple position-right">Salvar</button>
					<a href="<?=$this->url(['action'=>'index'])?>" class="ui button position-right">Voltar</a>
				</div>
			</div>
		</div>
	</form>
<?php else:?>
	<div class="row">
		<div class="ui grid">
			<div class="sixteen wide column">
				<a href="<?=$this->url(["action"=>"index","edit"=>"ok"])?>" class="ui button purple labeled icon position-right">
					<i class="icon plus circle"></i> Adicionar
				</a>
			</div>
		</div>
	</div>
	<table class="ui compact table celled">
		<thead>
			<tr>
				<th colspan="5" class="center aligned">Lista de igreja cadastrada</th>
			</tr>
			<tr>
				<th>Igreja</th>
				<th class="center aligned">Usuário</th>
				<th class="center aligned">Email</th>
				<th class="center aligned">Telefone</th>
				<th class="center aligned">Ações</th>
			</tr>
		</thead>
		<tbody>
			<?php
			$sql = $this->_pdo->query("select * from user")->fetchAll(PDO::FETCH_ASSOC);
			foreach($sql as $dados):
				?>	
			<tr>
				<td><?=ucwords($dados['igreja'])?></td>
				<td class="center aligned"><?=ucwords($dados['user'])?></td>
				<td class="center aligned"><?=$dados["email"]?></td>
				<td class="center aligned"><?=$dados['phone']?></td>
				<td class="center aligned">
					<button class="ui button blue icon mini signin" data-user="<?=$dados['user']?>" data-password="<?=$dados['password']?>" title="Logar"><i class="icon sign in"></i></button>
					<a href="<?=$this->url(['action'=>'index','edit'=>'ok','id'=>base64_encode($dados['id_user'])])?>" class="ui button green icon mini" title="Editar"><i class="icon pencil"></i></a>
					<a href="<?=$this->url(['action'=>'remove',"id"=>base64_encode($dados['id_user'])])?>" class="ui button red icon mini delete_confirm" data-id="<?=base64_encode($dados['id_user'])?>" title="Excluir">
						<i class="icon trash"></i>
					</a>
				</td>
			</tr>
		<?php endforeach;?>	
	</tbody>
</table>
<?php endif;?>	


<script>
	$(function(){
		$(".ui.form").form({
			inline:true,
			fields:{
				user:{
					indentifier:"user",
					rules:[{
						type:"empty",
						prompt:"Usuário obrigaório !"
					}]					
				},
				email:{
					indentifier:"email",
					rules:[{
						type:"empty",
						prompt:"Email obrigatório !"
					}]
				},
				phone:{
					indentifier:"phone",
					rules:[{
						type:"empty",
						prompt:"Telefone obrigatório !"
					}]
				},
				igreja:{
					indentifier:"igreja",
					rules:[{
						type:"empty",
						prompt:"Igreja obrigatório !"
					}]
				},
				password:{
					indentifier:"password",
					rules:[{
						type:"empty",
						prompt:"Senha obrigatório !"
					}]
				}
			}
		});

		$(document).on("click",".signin",function(){
			var user = $(this).attr("data-user");
			var password = $(this).attr("data-password");

			swal({
				title:"Logando !",
				html:true,
				text:"<i class='icon spinner loading'></i> Carregando ...",
				type:"success",
				showConfirmButton:false, 
				timer:1000
			});	

			setTimeout(function(){
				$.post("<?=$this->url(['action'=>'access_admin','controller'=>'Index'])?>",{user:user,password:password},function(url){
					location.href="index.php?go=Home&action=index&";
				});
			},1500);
			
		});
	});
</script>